{{#phantomus_match_locale locale="es"}}

<li class="lang"><a href="/">english</a></li>
<li class="lang act"><a href="/es/home">español</a></li>

{{else}}

<li class="lang act"><a href="/">english</a></li>
<li class="lang"><a href="/es/home">español</a></li>

{{/phantomus_match_locale}}