{{#phantomus_match_locale locale="es"}}

<li><a href="/es/home/">casa</a></li>
<li><a href="/es/posts/">mensajes</a></li>
<li><a href="/es/about/">acerca de</a></li>

{{else}}

<li><a href="/">home</a></li>
<li><a href="/en/posts/">posts</a></li>
<li><a href="/en/about/">about</a></li>

{{/phantomus_match_locale}}